
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }

  nav .nav-items a:hover{
    color:blue;
    cursor: pointer;
  }

  .mycart{
    text-align: center;
    margin:20px 0;
    font-size: 30px;
    font-weight: bold;
  }

  main{
    display: flex;
    gap:10px;
    width: 100vw;
    
  }

  main .itemsList{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
   width:80%;
    padding:20px;
    

}

main .itemsList .itemcontainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:30%;
    border:1px solid black;

}

#empty{
  display: none;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}
main .itemcontainer img{
    max-width: 100%;
    height:300px;
}

main .itemcontainer .info{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

main .itemcontainer button{
    background-color: black;
    color:white;
    padding:10px ;
    text-align: center;
    font-size: 18px;
}

main .right{
    position: fixed;
    background-color: black;
    top:100px;
    right:20px;
    bottom: 20px;
   width:20%;
   display: flex;
   flex-direction: column;
 
   gap:5px;
    color:white;
    padding:20px ;
}

.right>div:nth-child(1){
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.right>div:nth-child(2){
  display: flex;
  flex-direction: column;
  gap:5px;
}


.right button{
    font-size: 18px;
    width:80%;
    text-align: center;
    padding: 8px;
    white-space: wrap;
}

.right #purchaseitems div,.total{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total{
  
  border-top:1px solid grey;
  border-bottom: 1px solid grey;
  padding:10px 0;
}