@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin:0;
    font-family: 'Inter', sans-serif;
}

nav{
    background-color: black;
    color:white;
    padding:15px 10px;
    display: flex;
    justify-content: space-between;
}

nav .links{
    display: flex;
    gap:30px;
}

nav .links a{
    text-decoration: none;
    color:#b2b2b2;
}


nav .links a:hover{
   
    color:blue;
}

.login-details{
    display: flex;
    flex-direction: column;
    padding:30px;
    gap:20px;
    font-size:20px;
}

.login-details input{
    padding:14px;
}

.login-details input:focus{
    outline:none;
}

.login-details input::placeholder{
    font-size: 16px;
}


.login-details #signup{
    border:none;
    align-self: flex-start;
    padding:6px 40px;
    font-size: 16px;
    background-color: black;
    color:white;
    border-radius: 3px;
    transition:.5s;
}

.login-details #signup:hover{
    transform: scale(1.1);
}

#error{
    display:none;
    color:red;
}
#success{
    display:none;
    color:green;
}

.change_border{
    border:1px solid red;
}

.border{
    border:1px solid black;
}